body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Style pour les titres <h1> */
h1 {
    color: #337;
    text-align: center;
}

/* Centrer le texte des paragraphes */
p {
    text-align: center;
}